
/* h1{
    background-color: aqua;
}
p{
    color: rgb(195, 77, 77);
} */

/* h1{
    background-color: rgb(138, 43, 226);
}
ul li{
    color: rgb(95, 161, 29);
} */

 /* *{
    color: honeydew;
 }

body{
    background: url("https://img.magnific.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* p{
    font-size: 65px;
    font-family: "Yuyu Short", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

h2{
    /* background-color: blueviolet;
    padding: 52px;
    border: 42px solid green;
    margin: 83px; */
    /* padding: 12px;
    border: 12px solid red; */
}

/* h1{
    display: inline-block;
}

h2{
    display: inline-block;
} */

